<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card card-body">
      <h1>Not Found</h1>
      <p>This page does not exists</p>
      <a href="/">Return to home</a>
    </div>
  </div>
</div>