<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card card-body">
      <h1>Internal Server Error</h1>
      <p>{{error}}</p>
      <a href="/">Return to home</a>
    </div>
  </div>
</div>