<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-header bg-dark text-center">
      <h3 class="text-white">New Note</h3>
    </div>
    <div class="card-body text-right">
      <form action="/notes/new-note" method="POST">
        <div class="mb-3">
          <label for="title">Title:</label>
          <input
            type="text"
            name="title"
            class="form-control"
            placeholder="Title"
            autofocus
          />
        </div>
        <div class="mb-3">
          <label for="description">Description:</label>
          <textarea
            name="description"
            class="form-control"
            placeholder="Description"
          ></textarea>
        </div>
        <button class="btn btn-primary w-100" type="submit">
          Save
        </button>
      </form>
    </div>
  </div>
</div>