<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card bg-black text-white">
      <div class="card-header pt-5">
        <h4 class="text-center">
          Account Register
        </h4>
      </div>
      <div class="card-body">
        <form action="/auth/signup" method="POST">
          <div class="mb-3">
            <label for="name">Name:</label>
            <input
              type="text"
              class="form-control bg-dark text-white"
              name="name"
              placeholder="Name"
              value="{{name}}"
            />
          </div>
          <div class="mb-3">
            <label for="email">Email:</label>
            <input
              type="email"
              class="form-control bg-dark text-white"
              name="email"
              placeholder="Email"
              value="{{email}}"
            />
          </div>
          <div class="mb-3">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control bg-dark text-white"
              name="password"
              placeholder="Password"
              value="{{password}}"
            />
          </div>
          <div class="mb-3">
            <label for="confirm_password">Cofirm Password:</label>
            <input
              type="password"
              class="form-control bg-dark text-white"
              name="confirm_password"
              placeholder="Confirm Password"
              value="{{confirm_password}}"
            />
          </div>
          <button class="btn btn-success btn-block">
            Signup
          </button>
        </form>
      </div>
      <p class="text-center">Already Have an Account?
        <a href="/auth/signin" class="text-info">Login</a></p>
    </div>
  </div>
</div>